<template>
	<web-view :src="'/hybrid/html/index.html?code='+randomNum(0,10000)" @message="handleMessage"></web-view>
	<!-- <web-view :src="'https://runway-sd.server.zhhost.top:8111/site/index.html?code='+randomNum(0,10000)" @message="handleMessage"></web-view> -->
</template>

<script>
	let globalData = getApp().globalData
	export default {
		components:{},
		data() {
			return {
				height: 0,
				smartbox: null
			}
		},
		onUnload() {
		},
		onReady(){
			return
			this.smartbox = plus.webview.create("/hybrid/html/index.html", "smartbox", {
			// this.smartbox = plus.webview.create("https://runway-sd.server.zhhost.top:8111/site/index.html", "smartbox", {//外网
			// this.smartbox = plus.webview.create("http://192.168.5.19:8111/site/index.html", "smartbox", {//内网
			// this.smartbox = plus.webview.create("http://wx.zhhost.top/smartrun/index.html", "smartbox", {
				'uni-app': 'none',
				"left": "1000",
				"top": "0px",
				"softinputMode": "adjustResize",
				"bottom": "0px" //放置在titleNView下方。如果还想在webview上方加个地址栏的什么的，可以继续降低TOP值
			})
			console.log(this.smartbox);
			var currentWebview = this.$scope.$getAppWebview(); //此对象相当于html5plus里的plus.webview.currentWebview()。在uni-app里vue页面直接使用plus.webview.currentWebview()无效，非v3编译模式使用this.$mp.page.$getAppWebview()
			currentWebview.append(this.smartbox); //一定要append到当前的页面里！！！才能跟随当前页面一起做动画，一起关闭
			this.smartbox.addEventListener('message', e => {
				console.log(e);
			  })
			this.smartbox.setStyle({
				"left": "0px",
				// "backgroundColor": "rgba(0,0,0,0)",
				// "titleColor": "#ffffff"
			});
			this.smartbox.show();
		},
		onLoad() {
			this.height = globalData.windowHeight
		},
		methods: {
			//生成从minNum到maxNum的随机数
			randomNum(minNum,maxNum){ 
			    switch(arguments.length){ 
			        case 1: 
			            return parseInt(Math.random()*minNum+1,10); 
			        break; 
			        case 2: 
			            return parseInt(Math.random()*(maxNum-minNum+1)+minNum,10); 
			        break; 
			            default: 
			                return 0; 
			            break; 
			    } 
			},
			handleMessage(e){
				if(e.detail.data[0].exit){
					plus.runtime.quit();
				}
			},
		}
	}
</script>

<style lang="scss" scoped>
	.page-box{
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background: #f8f8f8;
	}
</style>
