<script>
export default {
  globalData: {
	navigationBarHeight: 64, //底部导航栏高度 
	statusBarHeight: 20,// 状态栏的高度
	navHeight: 64,//导航栏高度
	navTitleTop: 26,//顶部标题距离顶部高度
	screenHeight: 812,//屏幕高度
	screenWidth: 375,//屏幕高度 
	windowWidth: 375,
	windowHeight: 600,
  },
  onLaunch: function () {
	this.getPhoneHeight();
  },
  methods: {
    // 获取手机各项基础数据（高度等）
    getPhoneHeight () {
      uni.getSystemInfo({
        success: res=> {
          // console.log(res)
          let height = (res.windowHeight - 95) * 2
          uni.setStorage({
            key: "winHeight",
            data: height,
            success: function () {
              // console.log("存储成功")
            }
          })
          this.globalData.screenWidth = res.screenWidth
          this.globalData.screenHeight = res.screenHeight
		  this.globalData.windowWidth = res.windowWidth
		  this.globalData.windowHeight = res.windowHeight
		  this.globalData.statusBarHeight = res.statusBarHeight
          // 安卓时，胶囊距离状态栏8px，iOS距离4px
          if (res.platform === 'android')
          {
			this.globalData.navigationBarHeight = res.statusBarHeight + 32
            this.globalData.navTitleTop = res.statusBarHeight + 8
          } else
          {
			this.globalData.navigationBarHeight = res.statusBarHeight + 12
            this.globalData.navTitleTop = res.statusBarHeight + 4
          }
		  // console.log('获取的：'+JSON.stringify(this.globalData));
        }
      })
    }
  }
};
</script>

<style>
</style>
