
<style>
	.box-bg{position: fixed;left: 0;top: 0;z-index: 0;width: 1080px;height: 1920px;}
	#fiexd_return{
		position:fixed; left:20px; top:20px;z-index: 100;
	}
	#return_img{
		width:40px; height:40px; cursor: pointer; opacity:0.4;
	}
	#ban_ben{
		font-size: 14px;color: #ffffff;opacity: 0.2;
	}
	.head-img{position: relative;width: 1000px;height: 64px;margin-left: -500px;left: 50%;}
	
	.box-1{
		position: relative;width: 1000px;height: 210px; margin-top: 30px; margin-left:-500px;left: 50%; background-image: url(../static/wk.png);background-size: 1000px 210px;}
	.box-1-l,.box-1-r{width: 200px;}
	.box-1-c{position: relative;width: 310px;}
	.i-block{display: inline-block;}
	.fk{width: 10px;height: 10px;}
	.wd,.kq,.pm,.fs{width: 14px;height: 14px;}
	.dr-tqqk{
		font-size: 20px;
		font-weight: 800;color: #FFFFFF;background: linear-gradient(45deg, #CEE3F5 0%, #7FBEF5 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
	}
	.tq-img{width: 60px;height: 60px;}
	.dw{width: 10px;height: 12px;}
	

	
	.box-2{position: relative;width: 960px;height: auto; margin-top: 20px; margin-left:-480px;left: 50%;}
	.ph-img{width: 960px;height: 50px;}
	.box-2-con{position: relative;width: 960px;height: 336px;}
	.b-2-l{position: relative;width: 286px;height: 336px; background-image: url(../static/bk.png);background-size: 286px 336px;}
	.qsm-title{
		background: linear-gradient(45deg, #F59453 0%, #DB5E31 100%);
		-webkit-background-clip: text;-webkit-text-fill-color: transparent;
	}
	.ys-ht{font-family: YouSheBiaoTiHei;}
	.one-color{color: #FFE74C;}.two-color{color: #E6F7FA;}.three-color{color: #EA9C74;}
	.linear-color1{
		background: linear-gradient(0deg, #FFE74C 0.1220703125%, #DB6A1F 100%);
		-webkit-background-clip: text;-webkit-text-fill-color: transparent;
	}
	.linear-color2{
		background: linear-gradient(0deg, #FFFFFF 0.1220703125%, #85C6FF 100%);
		-webkit-background-clip: text;-webkit-text-fill-color: transparent;
	}
	.linear-color3{
		background: linear-gradient(0deg, #FEDFCE 0.1220703125%, #D48660 100%);
		-webkit-background-clip: text;-webkit-text-fill-color: transparent;
	}
	.tou-img{
		overflow: hidden;
		background-image: url(../static/p1.png);background-size: cover;background-repeat: no-repeat;background-position: center;
	}
	.tx-icon{width: 14px;height: 14px;}
	
	.b-2-r{position: relative;width: 650px;height: 324px;}
	.b-2-r .table-head{width: 650px;height: 40px;
		background-image: url(../static/kt.png);background-size: 650px 40px;
	}
	.b-2-r .table-con{
		height: 284px;overflow-y: auto;
	}
	.t-c-ul{height: 40px;}
	.b-2-r .table-active{background-image: url(../static/p1.png);background-size: 650px 40px;}
	.img-28{width:28px;height:28px;border-radius: 8px;}
	
	
	
	.box-3{position: relative; width: 960px;height: 520px; margin-left:-480px;left: 50%;margin-top: 600px;}
	.box-3-con{position: relative;display: inline-block; width: 450px;height: 520px;}
	.box-3-con:nth-child(2){margin-left: 54px;}
	.ts-img,.rs-img{width: 450px;height: 50px;}
	.box-3-con .table-head{width: 450px;height: 40px;
		background-image: url(../static/k1_.png);background-size: 450px 40px;
	}
	.box-3-con .table-con{
		height: 440px;overflow-y: auto;
	}
	.box-3-con .table-active{background-image: url(../static/p2.png);background-size: 450px 40px;}
	.cy-tongji{
		width: 450px;height: 140px;overflow: hidden;position: relative;
		background-image: url(../static/k2_.png);background-size: 450px 140px;
	}
	.echart-1{width: 300px;height:110px;position: absolute;right: 0px;bottom: 0px; border-bottom-right-radius: 10px;overflow: hidden;}
	.week-title-img{width: 107px;height: 49px;}
	.top-sj{width: 10px;height: 6px;}
	.echart-2{width: 450px;height:250px;}
	
	
	
	/* 常用样式类 */
	.flex-1{flex: 1;}
	.flex-row { display: flex;flex-direction: row;}
	.flex-row-center {display: flex;flex-direction: row;align-items: center;}
	.flex-row-end {display: flex;flex-direction: row;align-items: center;justify-content: flex-end;}
	.flex-column { display: flex;flex-direction: column;}
	.flex-column-center { display: flex;flex-direction: column;align-items: center;}
	.flex-center { display: flex !important;align-items: center;justify-content: center;}
	.al-flex-end{align-items: flex-end;}
	.al-flex-start{align-items: flex-start;}
	.ju-flex-end{justify-content: flex-end;}
	.ju-flex-start{justify-content: flex-start;}
	.wrap{flex-wrap: wrap;}

	.inline-b{display: inline-block;}
	.inline-f{display: inline-flex;}
	.text-align-end{text-align: end;}
	.text-align-start{text-align: start;}
	
	.j-s-b{justify-content: space-between;}
	
	.t-start{text-align: start;}
	.t-center{text-align: center;}
	.t-end{text-align: end;}
	
  
  
  
	.ml5 { margin-left: 5px !important; }
	.ml10 { margin-left: 10px !important; }
	.ml15 { margin-left: 15px !important; }
	.ml20 { margin-left: 20px !important; }
	.ml30 { margin-left: 30px !important; }
	.mr5 { margin-right: 5px !important; }
	.mr10 { margin-right: 10px !important; }
	.mr15 { margin-right: 15px !important; }
	.mr20 { margin-right: 20px !important; }
	.mr30 { margin-right: 30px !important; }
	.mr60 { margin-right: 60px !important; }
	.mb3 { margin-bottom: 3px !important; }
	.mb5 { margin-bottom: 5px !important; }
	.mb10 { margin-bottom: 10px !important; }
	.mb15 { margin-bottom: 15px !important; }
	.mb20 { margin-bottom: 20px !important; }
	.mb30 { margin-bottom: 30px !important; }
	.mt5 { margin-top: 5px !important; }
	.mt10 { margin-top: 10px !important; }
	.mt15 { margin-top: 15px !important; }
	.mt20 { margin-top: 20px !important; }
	.mt30 { margin-top: 30px !important; }

	.pl10 { padding-left: 10px; box-sizing: border-box}
	.pl20 { padding-left: 20px; box-sizing: border-box}
	.pr10 { padding-right: 10px; box-sizing: border-box}
	.pr20 { padding-right: 20px; box-sizing: border-box}
	.pb10 { padding-bottom: 10px; box-sizing: border-box}
	.pb20 { padding-bottom: 20px; box-sizing: border-box}
	.pt10 { padding-top: 10px; box-sizing: border-box}
	.pt20 { padding-top: 20px; box-sizing: border-box}
	.pd10 { padding: 10px;box-sizing: border-box}
	.pd20 { padding: 20px;box-sizing: border-box}
	.pd30 { padding: 30px;box-sizing: border-box}

	.pd10-row{padding-left: 10px;padding-right:10px;box-sizing: border-box;}
	.pd20-row{padding-left: 20px;padding-right:20px;box-sizing: border-box;}
	.pd30-row{padding-left: 30px;padding-right:30px;box-sizing: border-box;}
	.pd10-column{padding-top: 10px;padding-bottom:10px; box-sizing: border-box;}
	.pd20-column{padding-top: 20px;padding-bottom:20px; box-sizing: border-box;}
	.pd30-column{padding-top: 30px;padding-bottom:30px; box-sizing: border-box;}
	
	.w30{width: 30% !important;}
	.w40{width: 40% !important;}
	.w48{width: 48% !important;}
	.w50{width: 50% !important;}
	.w60{width: 60% !important;}
	.w80{width: 80% !important;}
	.w90{width: 90% !important;}
	.w92{width: 92% !important;}
	.w94{width: 94% !important;}
	.w96{width: 96% !important;}
	.w98{width: 98% !important;}
	.w100{width: 100% !important;}
	
	.w20px{width: 20px !important;}
	.w40px{width: 40px !important;}
	.w50px{width: 50px !important; text-align: center;}
	.w60px{width: 60px !important;}
	.w80px{width: 80px !important;}
	.w100px{width: 100px !important;}
	.w120px{width: 120px !important;}
	.w140px{width: 140px !important;}
	.w150px{width: 150px !important; text-align: center;}
	.w160px{width: 160px !important;}
	.w180px{width: 180px !important;}
	.w200px{width: 200px !important;}
	.w250px{width: 250px !important;}
	.w300px{width: 300px !important;}
	.w350px{width: 350px !important;}
	.w400px{width: 400px !important;}
	  
	  
	.mini-size{font-size: 12px}
	.mini-gray-size{font-size: 12px;color:#999;}
	.base-size{font-size: 14px}
	.size-15{font-size: 15px}
	.size-16{font-size: 16px}
	.base-gray-size{font-size: 14px;color:#999;}
	.size-18{font-size: 18px}
	.large-size{font-size: 20px}
	.large-gray-size{font-size: 20px;color:#999;}
	.size-24{font-size: 24px}
	
	.size-26{font-size: 26px;}
	.size-30{font-size: 30px;}
	.size-36{font-size: 36px;}
	.size-40{font-size: 40px;}
	.size-46{font-size: 46px;}
	.size-50{font-size: 50px;}

	.weight{font-weight: bolder;}
	.lighter{font-weight: lighter;}
	
	.letter-s{ letter-spacing: 1px;}
	
	.w-color{color: #cbe2ff;}
	.success-color{color: #00c591;}
	.danger-color{color:#DB5E31;}
	
	.m-base-bg{background:#c6e5ff;}
	.base-bg{background:#54beff;}
	.success-bg{background:#00c591;}
	.warning-bg{background:#eee675;}
	.danger-bg{background:#DB5E31;}
	.base-gray-bg{background:#666;}
	.gray-bg{background:#909399;}
</style>